# Development URLs used by Wasp while running in Docker.
REACT_APP_API_URL=http://localhost:3001
WASP_WEB_CLIENT_URL=http://localhost:3000
WASP_SERVER_URL=http://localhost:3001
DATABASE_URL=postgresql://eager_sleepers:eager_sleepers@db:5432/eager_sleepers
PORT=3001
